In [1]:
import pandas as pd

In [2]:
mb_features = pd.read_csv('w1inhome.csv')

In [3]:
mb_features = mb_features[["H1SE1", "H1SE2", "H1SE3", "H1FS1", "H1FS2", "H1FS3", "H1FS4", "H1FS5", "H1FS7", "H1FS8", "H1FS9", "H1FS11", "H1FS13", "H1FS14", "H1FS15", "H1FS17", "H1FS18", "H1FS19", "H1PF7", "H1PF13", "H1PF14", "H1PF15", "H1PF16", "H1PF21", "H1PF30", "H1PF32", "H1PF33", "H1PF34", "H1PF35", "H1PF36", "H1CO3", "H1CO6", "H1CO10", "H1NR3", "H1TO1", "H1TO3", "H1TO12", "H1TO13", "H1TO17", "H1TO18", "H1TO20", "H1TO21", "H1TO23", "H1TO24", "H1TO27", "H1TO28", "H1DS1", "H1DS2", "H1DS3", "H1DS4", "H1DS5", "H1DS6", "H1DS7", "H1DS8", "H1DS9", "H1DS10", "H1DS11", "H1DS12", "H1DS13", "H1DS14", "H1DS15", "H1JO1", "H1JO3", "H1JO5", "H1JO7", "H1JO9", "H1JO10", "H1JO11", "H1JO12", "H1JO14", "H1JO17", "H1JO19", "H1JO20", "H1JO21", "H1JO23", "H1JO25", "H1JO26", "H1FV5", "H1FV7", "H1FV8", "H1FV9", "H1FV10", "H1SU1", "H1SU2"]]

In [4]:
df = pd.DataFrame(mb_features)

In [5]:
df.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1FV10,H1SU1,H1SU2
0,1.0,1.0,1.0,1.0,0.0,1.0,3.0,1.0,1.0,3.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,7.0,0.0,7.0
1,1.0,1.0,5.0,1.0,1.0,0.0,2.0,3.0,1.0,3.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
2,1.0,1.0,1.0,0.0,0.0,0.0,3.0,0.0,1.0,3.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
3,1.0,6.0,4.0,2.0,1.0,2.0,0.0,3.0,1.0,2.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,7.0,1.0,0.0
4,1.0,1.0,5.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,0.0

Changing the backwards scaled features (ie. instead of 1 being positive behavior, 1 = neg behavior)and fixing scaling so nonanswers are the avg

In [7]:
df_change = df.copy()

In [8]:
df_change[["H1FS4", "H1FS8", "H1FS11", "H1FS15"]] = df_change[["H1FS4", "H1FS8", "H1FS11", "H1FS15"]].replace({0:3, 1:2, 2:1, 3:0, 6: 1.5, 8: 1.5})

In [9]:
df_change.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1FV10,H1SU1,H1SU2
0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,7.0,0.0,7.0
1,1.0,1.0,5.0,1.0,1.0,0.0,1.0,3.0,1.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
3,1.0,6.0,4.0,2.0,1.0,2.0,3.0,3.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,7.0,1.0,0.0
4,1.0,1.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,0.0

In [10]:
df_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6504 entries, 0 to 6503
Data columns (total 84 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   H1SE1   6504 non-null   float64
 1   H1SE2   6504 non-null   float64
 2   H1SE3   6504 non-null   float64
 3   H1FS1   6504 non-null   float64
 4   H1FS2   6504 non-null   float64
 5   H1FS3   6504 non-null   float64
 6   H1FS4   6504 non-null   float64
 7   H1FS5   6504 non-null   float64
 8   H1FS7   6504 non-null   float64
 9   H1FS8   6504 non-null   float64
 10  H1FS9   6504 non-null   float64
 11  H1FS11  6504 non-null   float64
 12  H1FS13  6504 non-null   float64
 13  H1FS14  6504 non-null   float64
 14  H1FS15  6504 non-null   float64
 15  H1FS17  6504 non-null   float64
 16  H1FS18  6504 non-null   float64
 17  H1FS19  6504 non-null   float64
 18  H1PF7   6504 non-null   float64
 19  H1PF13  6504 non-null   float64
 20  H1PF14  6504 non-null   float64
 21  H1PF15  6504 non-null   float64
 22  H1PF16  6504 non-null   float64
 23  H1PF21  6504 non-null   float64
 24  H1PF30  6504 non-null   float64
 25  H1PF32  6504 non-null   float64
 26  H1PF33  6504 non-null   float64
 27  H1PF34  6504 non-null   float64
 28  H1PF35  6504 non-null   float64
 29  H1PF36  6504 non-null   float64
 30  H1CO3   6504 non-null   float64
 31  H1CO6   6504 non-null   float64
 32  H1CO10  6503 non-null   float64
 33  H1NR3   6504 non-null   float64
 34  H1TO1   6504 non-null   float64
 35  H1TO3   6504 non-null   float64
 36  H1TO12  6504 non-null   float64
 37  H1TO13  6504 non-null   float64
 38  H1TO17  6504 non-null   float64
 39  H1TO18  6504 non-null   float64
 40  H1TO20  6504 non-null   float64
 41  H1TO21  6504 non-null   float64
 42  H1TO23  6504 non-null   float64
 43  H1TO24  6504 non-null   float64
 44  H1TO27  6504 non-null   float64
 45  H1TO28  6504 non-null   float64
 46  H1DS1   6504 non-null   float64
 47  H1DS2   6504 non-null   float64
 48  H1DS3   6504 non-null   float64
 49  H1DS4   6504 non-null   float64
 50  H1DS5   6504 non-null   float64
 51  H1DS6   6504 non-null   float64
 52  H1DS7   6504 non-null   float64
 53  H1DS8   6504 non-null   float64
 54  H1DS9   6504 non-null   float64
 55  H1DS10  6504 non-null   float64
 56  H1DS11  6504 non-null   float64
 57  H1DS12  6504 non-null   float64
 58  H1DS13  6504 non-null   float64
 59  H1DS14  6504 non-null   float64
 60  H1DS15  6504 non-null   float64
 61  H1JO1   6504 non-null   float64
 62  H1JO3   6504 non-null   float64
 63  H1JO5   6504 non-null   float64
 64  H1JO7   6504 non-null   float64
 65  H1JO9   6504 non-null   float64
 66  H1JO10  6504 non-null   float64
 67  H1JO11  6504 non-null   float64
 68  H1JO12  6504 non-null   float64
 69  H1JO14  6504 non-null   float64
 70  H1JO17  6504 non-null   float64
 71  H1JO19  6504 non-null   float64
 72  H1JO20  6504 non-null   float64
 73  H1JO21  6504 non-null   float64
 74  H1JO23  6504 non-null   float64
 75  H1JO25  6504 non-null   float64
 76  H1JO26  6504 non-null   float64
 77  H1FV5   6504 non-null   float64
 78  H1FV7   6504 non-null   float64
 79  H1FV8   6504 non-null   float64
 80  H1FV9   6504 non-null   float64
 81  H1FV10  6504 non-null   float64
 82  H1SU1   6504 non-null   float64
 83  H1SU2   6504 non-null   float64
dtypes: float64(84)
memory usage: 4.2 MB

In [11]:
df_change[["H1PF14", "H1PF15", "H1PF16"]] = df_change[["H1PF14", "H1PF15", "H1PF16"]].replace({1:4, 2:3, 3:2, 4:1, 5:0, 6:2.5, 8:2.5})

In [12]:
df_change.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1FV10,H1SU1,H1SU2
0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,7.0,0.0,7.0
1,1.0,1.0,5.0,1.0,1.0,0.0,1.0,3.0,1.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
3,1.0,6.0,4.0,2.0,1.0,2.0,3.0,3.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,7.0,1.0,0.0
4,1.0,1.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,0.0

In [13]:
print(df_change[["H1PF14", "H1PF15", "H1PF16"]])

      H1PF14  H1PF15  H1PF16
0        2.0     4.0     1.0
1        1.0     3.0     3.0
2        2.0     2.0     0.0
3        4.0     3.0     0.0
4        2.0     3.0     3.0
...      ...     ...     ...
6499     1.0     1.0     3.0
6500     2.0     2.0     3.0
6501     4.0     4.0     4.0
6502     2.0     2.0     4.0
6503     3.0     1.0     0.0

[6504 rows x 3 columns]

In [14]:
df_change[["H1CO3", "H1CO6"]] = df_change[["H1CO3", "H1CO6"]].replace({0:1, 1:0, 6:0.5, 7:0, 8:0.5})

In [15]:
print(df_change[["H1CO3", "H1CO6"]])

      H1CO3  H1CO6
0       0.0    0.0
1       1.0    1.0
2       0.0    0.0
3       0.0    0.0
4       1.0    1.0
...     ...    ...
6499    0.0    0.0
6500    0.0    0.0
6501    1.0    1.0
6502    1.0    1.0
6503    0.0    0.0

[6504 rows x 2 columns]

In [16]:
df_change.drop('H1FV10', axis=1, inplace=True)

In [17]:
df_change.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO21,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2
0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,7.0
1,1.0,1.0,5.0,1.0,1.0,0.0,1.0,3.0,1.0,0.0,...,7.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,7.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
3,1.0,6.0,4.0,2.0,1.0,2.0,3.0,3.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,1.0,1.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,...,7.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
df_change[["H1SE1", "H1SE2", "H1SE3"]] = df_change[["H1SE1", "H1SE2", "H1SE3"]].replace({96:3.5, 97:1, 98:3.5, 99:1})

In [19]:
print(df_change[["H1SE1", "H1SE2", "H1SE3"]])

      H1SE1  H1SE2  H1SE3
0       1.0    1.0    1.0
1       1.0    1.0    5.0
2       1.0    1.0    1.0
3       1.0    6.0    4.0
4       1.0    1.0    5.0
...     ...    ...    ...
6499    1.0    1.0    1.0
6500    1.0    1.0    1.0
6501    1.0    1.0    1.0
6502    1.0    1.0    1.0
6503    1.0    1.0    1.0

[6504 rows x 3 columns]

In [20]:
df_change[["H1FS1", "H1FS2", "H1FS3","H1FS5", "H1FS7", "H1FS9", "H1FS13", "H1FS14", "H1FS17", "H1FS18", "H1FS19"]] = df_change[["H1FS1", "H1FS2", "H1FS3","H1FS5", "H1FS7", "H1FS9", "H1FS13", "H1FS14", "H1FS17", "H1FS18", "H1FS19"]].replace({6:1.5, 8:1.5})

In [21]:
print(df_change[["H1FS1", "H1FS2", "H1FS3","H1FS5", "H1FS7", "H1FS9", "H1FS13", "H1FS14", "H1FS17", "H1FS18", "H1FS19"]])

      H1FS1  H1FS2  H1FS3  H1FS5  H1FS7  H1FS9  H1FS13  H1FS14  H1FS17  \
0       1.0    0.0    1.0    1.0    1.0    1.0     1.0     0.0     0.0
1       1.0    1.0    0.0    3.0    1.0    0.0     0.0     1.0     1.0
2       0.0    0.0    0.0    0.0    1.0    0.0     0.0     0.0     0.0
3       2.0    1.0    2.0    3.0    1.0    0.0     0.0     1.0     1.0
4       0.0    0.0    0.0    0.0    0.0    0.0     1.0     0.0     0.0
...     ...    ...    ...    ...    ...    ...     ...     ...     ...
6499    0.0    0.0    1.0    0.0    1.0    0.0     0.0     1.0     0.0
6500    0.0    0.0    0.0    0.0    0.0    0.0     0.0     1.0     1.0
6501    2.0    3.0    1.0    3.0    1.0    2.0     0.0     2.0     2.0
6502    0.0    1.0    0.0    1.0    2.0    1.0     1.0     1.0     1.0
6503    0.0    0.0    0.0    3.0    1.0    0.0     0.0     1.0     0.0

      H1FS18  H1FS19
0        0.0     1.0
1        1.0     0.0
2        0.0     0.0
3        1.0     0.0
4        0.0     0.0
...      ...     ...
6499     0.0     0.0
6500     0.0     0.0
6501     2.0     2.0
6502     1.0     1.0
6503     2.0     0.0

[6504 rows x 11 columns]

In [22]:
df_change[["H1PF7", "H1PF13", "H1PF21", "H1PF30", "H1PF32", "H1PF33", "H1PF34", "H1PF35", "H1PF36"]] = df_change[["H1PF7", "H1PF13", "H1PF21", "H1PF30", "H1PF32", "H1PF33", "H1PF34", "H1PF35", "H1PF36"]].replace({6:3, 8:3, 9:1})

In [23]:
print(df_change[["H1PF7", "H1PF13", "H1PF21", "H1PF30", "H1PF32", "H1PF33", "H1PF34", "H1PF35", "H1PF36"]])

      H1PF7  H1PF13  H1PF21  H1PF30  H1PF32  H1PF33  H1PF34  H1PF35  H1PF36
0       4.0     3.0     4.0     1.0     1.0     1.0     1.0     1.0     1.0
1       4.0     2.0     3.0     2.0     2.0     2.0     3.0     2.0     2.0
2       4.0     5.0     5.0     1.0     1.0     1.0     2.0     1.0     1.0
3       5.0     4.0     1.0     1.0     1.0     2.0     2.0     1.0     1.0
4       3.0     4.0     2.0     2.0     2.0     1.0     1.0     1.0     1.0
...     ...     ...     ...     ...     ...     ...     ...     ...     ...
6499    4.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
6500    3.0     4.0     2.0     3.0     2.0     2.0     2.0     2.0     2.0
6501    1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
6502    5.0     3.0     4.0     2.0     3.0     4.0     3.0     3.0     2.0
6503    5.0     4.0     2.0     1.0     1.0     1.0     3.0     3.0     1.0

[6504 rows x 9 columns]

In [24]:
df_change[["H1CO10", "H1JO1", "H1JO3", "H1JO5", "H1JO7", "H1JO9", "H1JO10", "H1JO11", "H1JO12", "H1JO14", "H1JO17", "H1JO19", "H1JO20", "H1JO21", "H1JO23", "H1JO25", "H1JO26"]] = df_change[["H1CO10", "H1JO1", "H1JO3", "H1JO5", "H1JO7", "H1JO9", "H1JO10", "H1JO11", "H1JO12", "H1JO14", "H1JO17", "H1JO19", "H1JO20", "H1JO21", "H1JO23", "H1JO25", "H1JO26"]].replace({6:0.5, 7:0, 8:0.5, 9:0})

In [25]:
print(df_change[["H1CO10", "H1JO1", "H1JO3", "H1JO5", "H1JO7", "H1JO9", "H1JO10", "H1JO11", "H1JO12", "H1JO14", "H1JO17", "H1JO19", "H1JO20", "H1JO21", "H1JO23", "H1JO25", "H1JO26"]])

      H1CO10  H1JO1  H1JO3  H1JO5  H1JO7  H1JO9  H1JO10  H1JO11  H1JO12  \
0        0.0    0.0    1.0    0.0    0.0    0.0     1.0     1.0     1.0
1        0.0    0.0    0.0    0.0    0.0    0.0     0.0     1.0     0.0
2        0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
3        0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
4        0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
...      ...    ...    ...    ...    ...    ...     ...     ...     ...
6499     0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
6500     0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
6501     0.0    0.0    0.0    0.0    0.0    0.0     0.0     1.0     0.0
6502     0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
6503     0.0    0.0    0.0    0.0    0.0    0.0     1.0     1.0     0.0

      H1JO14  H1JO17  H1JO19  H1JO20  H1JO21  H1JO23  H1JO25  H1JO26
0        0.0     1.0     0.0     1.0     1.0     0.0     1.0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3        0.0     0.0     1.0     1.0     0.0     1.0     0.0     0.0
4        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...      ...     ...     ...     ...     ...     ...     ...     ...
6499     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
6500     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
6501     0.0     0.0     0.0     0.0     0.0     0.0     0.0     1.0
6502     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
6503     1.0     1.0     0.0     1.0     1.0     1.0     0.0     1.0

[6504 rows x 17 columns]

In [26]:
df_change[["H1NR3", "H1SU1"]] = df_change[["H1NR3", "H1SU1"]].replace({6:0.5, 8:0.5, 9:0})

In [27]:
df_change[["H1DS1", "H1DS2", "H1DS3", "H1DS4", "H1DS5", "H1DS6", "H1DS7", "H1DS8", "H1DS9", "H1DS10", "H1DS11", "H1DS12", "H1DS13", "H1DS14", "H1DS15"]] = df_change[["H1DS1", "H1DS2", "H1DS3", "H1DS4", "H1DS5", "H1DS6", "H1DS7", "H1DS8", "H1DS9", "H1DS10", "H1DS11", "H1DS12", "H1DS13", "H1DS14", "H1DS15"]].replace({6:1.5, 8:1.5, 9:0})

In [28]:
df_change[["H1FV5", "H1FV7", "H1FV8"]] = df_change[["H1FV5", "H1FV7", "H1FV8"]].replace({6:1, 8:1, 9:0})

In [29]:
df_change[["H1SU2"]] = df_change[["H1SU2"]].replace({6:2, 8:2, 7:0})

In [30]:
print(df_change[["H1SU2"]])

      H1SU2
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
6499    0.0
6500    0.0
6501    1.0
6502    0.0
6503    0.0

[6504 rows x 1 columns]

In [31]:
df_change[["H1FV9"]] = df_change[["H1FV9"]].replace({6:2, 8:2, 9:0})

In [32]:
df_change.drop('H1TO17', axis=1, inplace=True)

In [33]:
df_change.drop('H1TO18', axis=1, inplace=True)

In [34]:
df_change.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO21,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2
0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,5.0,1.0,1.0,0.0,1.0,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,6.0,4.0,2.0,1.0,2.0,3.0,3.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,1.0,1.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
df_change[["H1TO1", "H1TO12"]] = df_change[["H1TO1", "H1TO12"]].replace({6:0.5, 8:0.5, 9:0})

In [36]:
print(df_change[["H1TO1", "H1TO12"]])

      H1TO1  H1TO12
0       1.0     1.0
1       1.0     1.0
2       1.0     0.0
3       1.0     0.0
4       1.0     1.0
...     ...     ...
6499    0.0     0.0
6500    0.0     0.0
6501    1.0     1.0
6502    1.0     0.0
6503    1.0     1.0

[6504 rows x 2 columns]

In [37]:
df_change[["H1TO3"]] = df_change[["H1TO3"]].replace({6:0.5, 7:0})

In [38]:
print(df_change[["H1TO3"]])

      H1TO3
0       0.0
1       1.0
2       0.0
3       1.0
4       0.0
...     ...
6499    0.0
6500    0.0
6501    1.0
6502    0.0
6503    0.0

[6504 rows x 1 columns]

In [39]:
df_change[["H1TO13"]] = df_change[["H1TO13"]].replace({7:0, 8:0.5})

In [40]:
print(df_change[["H1TO13"]])

      H1TO13
0        1.0
1        1.0
2        0.0
3        0.0
4        0.0
...      ...
6499     0.0
6500     0.0
6501     1.0
6502     0.0
6503     1.0

[6504 rows x 1 columns]

In [41]:
df_change[["H1TO20", "H1TO27", "H1TO28"]] = df_change[["H1TO20", "H1TO27", "H1TO28"]].replace({6:2, 7:0, 8:2})

In [42]:
print(df_change[["H1TO20", "H1TO27", "H1TO28"]])

      H1TO20  H1TO27  H1TO28
0        2.0     2.0     0.0
1        0.0     0.0     0.0
2        0.0     0.0     0.0
3        0.0     0.0     0.0
4        0.0     0.0     0.0
...      ...     ...     ...
6499     0.0     0.0     0.0
6500     0.0     0.0     0.0
6501     1.0     3.0     0.0
6502     0.0     0.0     0.0
6503     0.0     0.0     0.0

[6504 rows x 3 columns]

In [43]:
df_change[["H1TO21"]] = df_change[["H1TO21"]].replace({6:2.5, 7:0, 9:0})

In [44]:
print(df_change[["H1TO21"]])

      H1TO21
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
6499     0.0
6500     0.0
6501     2.0
6502     0.0
6503     0.0

[6504 rows x 1 columns]

In [45]:
df_change[["H1TO23", "H1TO24"]] = df_change[["H1TO23", "H1TO24"]].replace({6:2, 7:0, 8:2})

In [46]:
print(df_change[["H1TO23", "H1TO24"]])

      H1TO23  H1TO24
0        0.0     1.0
1        0.0     1.0
2        0.0     0.0
3        0.0     0.0
4        0.0     0.0
...      ...     ...
6499     0.0     0.0
6500     0.0     0.0
6501     0.0     0.0
6502     0.0     0.0
6503     1.0     0.0

[6504 rows x 2 columns]

In [47]:
df_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6504 entries, 0 to 6503
Data columns (total 81 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   H1SE1   6504 non-null   float64
 1   H1SE2   6504 non-null   float64
 2   H1SE3   6504 non-null   float64
 3   H1FS1   6504 non-null   float64
 4   H1FS2   6504 non-null   float64
 5   H1FS3   6504 non-null   float64
 6   H1FS4   6504 non-null   float64
 7   H1FS5   6504 non-null   float64
 8   H1FS7   6504 non-null   float64
 9   H1FS8   6504 non-null   float64
 10  H1FS9   6504 non-null   float64
 11  H1FS11  6504 non-null   float64
 12  H1FS13  6504 non-null   float64
 13  H1FS14  6504 non-null   float64
 14  H1FS15  6504 non-null   float64
 15  H1FS17  6504 non-null   float64
 16  H1FS18  6504 non-null   float64
 17  H1FS19  6504 non-null   float64
 18  H1PF7   6504 non-null   float64
 19  H1PF13  6504 non-null   float64
 20  H1PF14  6504 non-null   float64
 21  H1PF15  6504 non-null   float64
 22  H1PF16  6504 non-null   float64
 23  H1PF21  6504 non-null   float64
 24  H1PF30  6504 non-null   float64
 25  H1PF32  6504 non-null   float64
 26  H1PF33  6504 non-null   float64
 27  H1PF34  6504 non-null   float64
 28  H1PF35  6504 non-null   float64
 29  H1PF36  6504 non-null   float64
 30  H1CO3   6504 non-null   float64
 31  H1CO6   6504 non-null   float64
 32  H1CO10  6503 non-null   float64
 33  H1NR3   6504 non-null   float64
 34  H1TO1   6504 non-null   float64
 35  H1TO3   6504 non-null   float64
 36  H1TO12  6504 non-null   float64
 37  H1TO13  6504 non-null   float64
 38  H1TO20  6504 non-null   float64
 39  H1TO21  6504 non-null   float64
 40  H1TO23  6504 non-null   float64
 41  H1TO24  6504 non-null   float64
 42  H1TO27  6504 non-null   float64
 43  H1TO28  6504 non-null   float64
 44  H1DS1   6504 non-null   float64
 45  H1DS2   6504 non-null   float64
 46  H1DS3   6504 non-null   float64
 47  H1DS4   6504 non-null   float64
 48  H1DS5   6504 non-null   float64
 49  H1DS6   6504 non-null   float64
 50  H1DS7   6504 non-null   float64
 51  H1DS8   6504 non-null   float64
 52  H1DS9   6504 non-null   float64
 53  H1DS10  6504 non-null   float64
 54  H1DS11  6504 non-null   float64
 55  H1DS12  6504 non-null   float64
 56  H1DS13  6504 non-null   float64
 57  H1DS14  6504 non-null   float64
 58  H1DS15  6504 non-null   float64
 59  H1JO1   6504 non-null   float64
 60  H1JO3   6504 non-null   float64
 61  H1JO5   6504 non-null   float64
 62  H1JO7   6504 non-null   float64
 63  H1JO9   6504 non-null   float64
 64  H1JO10  6504 non-null   float64
 65  H1JO11  6504 non-null   float64
 66  H1JO12  6504 non-null   float64
 67  H1JO14  6504 non-null   float64
 68  H1JO17  6504 non-null   float64
 69  H1JO19  6504 non-null   float64
 70  H1JO20  6504 non-null   float64
 71  H1JO21  6504 non-null   float64
 72  H1JO23  6504 non-null   float64
 73  H1JO25  6504 non-null   float64
 74  H1JO26  6504 non-null   float64
 75  H1FV5   6504 non-null   float64
 76  H1FV7   6504 non-null   float64
 77  H1FV8   6504 non-null   float64
 78  H1FV9   6504 non-null   float64
 79  H1SU1   6504 non-null   float64
 80  H1SU2   6504 non-null   float64
dtypes: float64(81)
memory usage: 4.0 MB

In [48]:
df_change.to_csv('cleaned_mb.csv', index=False)

In [49]:
normalized_mb=(df_change-df_change.min())/(df_change.max()-df_change.min())

In [50]:
normalized_mb.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO21,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2
0,0.0,0.0,0.0,0.333333,0.000000,0.333333,0.000000,0.333333,0.333333,0.000000,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.8,0.333333,0.333333,0.000000,0.333333,1.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.6,0.666667,0.333333,0.666667,1.000000,1.000000,0.333333,0.333333,...,0.0,1.0,0.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0
4,0.0,0.0,0.8,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [51]:
df_change.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO21,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2
0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,5.0,1.0,1.0,0.0,1.0,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,6.0,4.0,2.0,1.0,2.0,3.0,3.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,1.0,1.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Adding the scoring in line with PID-5 for defining yes/no of mb presence

In [53]:
df_change['row_sum'] = df_change.sum(axis=1)

In [54]:
df_change.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2,row_sum
0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,60.0
1,1.0,1.0,5.0,1.0,1.0,0.0,1.0,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0
3,1.0,6.0,4.0,2.0,1.0,2.0,3.0,3.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,69.0
4,1.0,1.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,49.0

In [114]:
normalized_mb['row_sum'] = normalized_mb.sum(axis=1)

In [116]:
normalized_mb.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2,row_sum
0,0.0,0.0,0.0,0.333333,0.000000,0.333333,0.000000,0.333333,0.333333,0.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,21.500000
1,0.0,0.0,0.8,0.333333,0.333333,0.000000,0.333333,1.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.716667
2,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.666667
3,0.0,1.0,0.6,0.666667,0.333333,0.666667,1.000000,1.000000,0.333333,0.333333,...,1.0,0.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0,20.933333
4,0.0,0.0,0.8,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13.800000

In [118]:
normalized_mb['MB'] = normalized_mb.sum(axis=1) > 81*0.5

In [120]:
normalized_mb.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2,row_sum,MB
0,0.0,0.0,0.0,0.333333,0.000000,0.333333,0.000000,0.333333,0.333333,0.000000,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,21.500000,True
1,0.0,0.0,0.8,0.333333,0.333333,0.000000,0.333333,1.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.716667,False
2,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.666667,False
3,0.0,1.0,0.6,0.666667,0.333333,0.666667,1.000000,1.000000,0.333333,0.333333,...,0.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0,20.933333,True
4,0.0,0.0,0.8,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13.800000,False

In [138]:
normalized_mb = normalized_mb.astype(float)

In [140]:
print(normalized_mb['MB'].value_counts()[1])

869

In [142]:
normalized_mb.drop("row_sum", axis=1, inplace=True)

KeyError: "['row_sum'] not found in axis"

In [144]:
normalized_mb.head()

,H1SE1,H1SE2,H1SE3,H1FS1,H1FS2,H1FS3,H1FS4,H1FS5,H1FS7,H1FS8,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2,MB
0,0.0,0.0,0.0,0.333333,0.000000,0.333333,0.000000,0.333333,0.333333,0.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.8,0.333333,0.333333,0.000000,0.333333,1.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.6,0.666667,0.333333,0.666667,1.000000,1.000000,0.333333,0.333333,...,1.0,0.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0,1.0
4,0.0,0.0,0.8,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [152]:
normalized_mb.to_csv("final.csv", index=False)