In [1]:
import pandas as pd

In [2]:
mb_features = pd.read_csv('w1inhome.csv')

In [3]:
mb_features = mb_features[["H1RM11", "H1RM12", "H1RM13", "H1RF11", "H1RF12", "H1RF13", "H1WP9", "H1WP13", "H1RR1", "H1SU4", "H1SU5", "H1SU6", "H1SU7", "H1PR1", "H1PR2", "H1PR3", "H1PR4", "H1PR5", "H1PR6", "H1PR7", "H1PR8", "H1WS1A", "H1WS2A", "H1WS3A", "H1WS4A", "H1MO1", "H1MO2", "H1MO3", "H1MO4", "H1MO5", "H1MO6", "H1MO7", "H1MO9", "H1MO10", "H1MO11", "H1MO12", "H1MO13", "H1MO14", "H1SE1", "H1SE2", "H1SE3", "H1FS1", "H1FS2", "H1FS3", "H1FS4", "H1FS5", "H1FS7", "H1FS8", "H1FS9", "H1FS11", "H1FS13", "H1FS14", "H1FS15", "H1FS17", "H1FS18", "H1FS19", "H1PF7", "H1PF13", "H1PF14", "H1PF15", "H1PF16", "H1PF21", "H1PF30", "H1PF32", "H1PF33", "H1PF34", "H1PF35", "H1PF36", "H1CO3", "H1CO6", "H1CO10", "H1NR3", "H1TO1", "H1TO3", "H1TO12", "H1TO13", "H1TO17", "H1TO18", "H1TO20", "H1TO21", "H1TO23", "H1TO24", "H1TO27", "H1TO28", "H1DS1", "H1DS2", "H1DS3", "H1DS4", "H1DS5", "H1DS6", "H1DS7", "H1DS8", "H1DS9", "H1DS10", "H1DS11", "H1DS12", "H1DS13", "H1DS14", "H1DS15", "H1JO1", "H1JO3", "H1JO5", "H1JO7", "H1JO9", "H1JO10", "H1JO11", "H1JO12", "H1JO14", "H1JO17", "H1JO19", "H1JO20", "H1JO21", "H1JO23", "H1JO25", "H1JO26", "H1FV5", "H1FV7", "H1FV8", "H1FV9", "H1FV10", "H1SU1", "H1SU2"]]

In [4]:
df = pd.DataFrame(mb_features)

In [5]:
df.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1FV10,H1SU1,H1SU2
0,1.0,5.0,1.0,2.0,1.0,1.0,5.0,4.0,1.0,1.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,7.0,0.0,7.0
1,1.0,1.0,5.0,1.0,1.0,1.0,5.0,5.0,1.0,1.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
2,6.0,6.0,1.0,5.0,5.0,1.0,5.0,5.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
3,1.0,2.0,1.0,97.0,97.0,97.0,5.0,7.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,7.0,1.0,0.0
4,4.0,4.0,4.0,97.0,97.0,97.0,5.0,7.0,1.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,0.0

Changing the backwards scaled features (ie. instead of 1 being positive behavior, 1 = neg behavior)and fixing scaling so nonanswers are the avg

In [7]:
df_change = df.copy()

In [8]:
df_change[["H1FS4", "H1FS8", "H1FS11", "H1FS15"]] = df_change[["H1FS4", "H1FS8", "H1FS11", "H1FS15"]].replace({0:3, 1:2, 2:1, 3:0, 6: 1.5, 8: 1.5})

In [9]:
df_change.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1FV10,H1SU1,H1SU2
0,1.0,5.0,1.0,2.0,1.0,1.0,5.0,4.0,1.0,1.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,7.0,0.0,7.0
1,1.0,1.0,5.0,1.0,1.0,1.0,5.0,5.0,1.0,1.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
2,6.0,6.0,1.0,5.0,5.0,1.0,5.0,5.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
3,1.0,2.0,1.0,97.0,97.0,97.0,5.0,7.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,7.0,1.0,0.0
4,4.0,4.0,4.0,97.0,97.0,97.0,5.0,7.0,1.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,0.0

In [10]:
df_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6504 entries, 0 to 6503
Columns: 122 entries, H1RM11 to H1SU2
dtypes: float64(122)
memory usage: 6.1 MB

In [11]:
df_change[["H1PF14", "H1PF15", "H1PF16"]] = df_change[["H1PF14", "H1PF15", "H1PF16"]].replace({1:4, 2:3, 3:2, 4:1, 5:0, 6:2.5, 8:2.5})

In [12]:
df_change.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1FV10,H1SU1,H1SU2
0,1.0,5.0,1.0,2.0,1.0,1.0,5.0,4.0,1.0,1.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,7.0,0.0,7.0
1,1.0,1.0,5.0,1.0,1.0,1.0,5.0,5.0,1.0,1.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
2,6.0,6.0,1.0,5.0,5.0,1.0,5.0,5.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0
3,1.0,2.0,1.0,97.0,97.0,97.0,5.0,7.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,7.0,1.0,0.0
4,4.0,4.0,4.0,97.0,97.0,97.0,5.0,7.0,1.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,0.0

In [13]:
print(df_change[["H1PF14", "H1PF15", "H1PF16"]])

      H1PF14  H1PF15  H1PF16
0        2.0     4.0     1.0
1        1.0     3.0     3.0
2        2.0     2.0     0.0
3        4.0     3.0     0.0
4        2.0     3.0     3.0
...      ...     ...     ...
6499     1.0     1.0     3.0
6500     2.0     2.0     3.0
6501     4.0     4.0     4.0
6502     2.0     2.0     4.0
6503     3.0     1.0     0.0

[6504 rows x 3 columns]

In [14]:
df_change[["H1CO3", "H1CO6"]] = df_change[["H1CO3", "H1CO6"]].replace({0:1, 1:0, 6:0.5, 7:0, 8:0.5})

In [15]:
print(df_change[["H1CO3", "H1CO6"]])

      H1CO3  H1CO6
0       0.0    0.0
1       1.0    1.0
2       0.0    0.0
3       0.0    0.0
4       1.0    1.0
...     ...    ...
6499    0.0    0.0
6500    0.0    0.0
6501    1.0    1.0
6502    1.0    1.0
6503    0.0    0.0

[6504 rows x 2 columns]

In [16]:
df_change.drop('H1FV10', axis=1, inplace=True)

In [17]:
df_change.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO21,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2
0,1.0,5.0,1.0,2.0,1.0,1.0,5.0,4.0,1.0,1.0,...,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,7.0
1,1.0,1.0,5.0,1.0,1.0,1.0,5.0,5.0,1.0,1.0,...,7.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
2,6.0,6.0,1.0,5.0,5.0,1.0,5.0,5.0,0.0,0.0,...,7.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
3,1.0,2.0,1.0,97.0,97.0,97.0,5.0,7.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,4.0,4.0,4.0,97.0,97.0,97.0,5.0,7.0,1.0,0.0,...,7.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
df_change[["H1SE1", "H1SE2", "H1SE3"]] = df_change[["H1SE1", "H1SE2", "H1SE3"]].replace({96:3.5, 97:1, 98:3.5, 99:1})

In [19]:
print(df_change[["H1SE1", "H1SE2", "H1SE3"]])

      H1SE1  H1SE2  H1SE3
0       1.0    1.0    1.0
1       1.0    1.0    5.0
2       1.0    1.0    1.0
3       1.0    6.0    4.0
4       1.0    1.0    5.0
...     ...    ...    ...
6499    1.0    1.0    1.0
6500    1.0    1.0    1.0
6501    1.0    1.0    1.0
6502    1.0    1.0    1.0
6503    1.0    1.0    1.0

[6504 rows x 3 columns]

In [20]:
df_change[["H1FS1", "H1FS2", "H1FS3","H1FS5", "H1FS7", "H1FS9", "H1FS13", "H1FS14", "H1FS17", "H1FS18", "H1FS19"]] = df_change[["H1FS1", "H1FS2", "H1FS3","H1FS5", "H1FS7", "H1FS9", "H1FS13", "H1FS14", "H1FS17", "H1FS18", "H1FS19"]].replace({6:1.5, 8:1.5})

In [21]:
print(df_change[["H1FS1", "H1FS2", "H1FS3","H1FS5", "H1FS7", "H1FS9", "H1FS13", "H1FS14", "H1FS17", "H1FS18", "H1FS19"]])

      H1FS1  H1FS2  H1FS3  H1FS5  H1FS7  H1FS9  H1FS13  H1FS14  H1FS17  \
0       1.0    0.0    1.0    1.0    1.0    1.0     1.0     0.0     0.0
1       1.0    1.0    0.0    3.0    1.0    0.0     0.0     1.0     1.0
2       0.0    0.0    0.0    0.0    1.0    0.0     0.0     0.0     0.0
3       2.0    1.0    2.0    3.0    1.0    0.0     0.0     1.0     1.0
4       0.0    0.0    0.0    0.0    0.0    0.0     1.0     0.0     0.0
...     ...    ...    ...    ...    ...    ...     ...     ...     ...
6499    0.0    0.0    1.0    0.0    1.0    0.0     0.0     1.0     0.0
6500    0.0    0.0    0.0    0.0    0.0    0.0     0.0     1.0     1.0
6501    2.0    3.0    1.0    3.0    1.0    2.0     0.0     2.0     2.0
6502    0.0    1.0    0.0    1.0    2.0    1.0     1.0     1.0     1.0
6503    0.0    0.0    0.0    3.0    1.0    0.0     0.0     1.0     0.0

      H1FS18  H1FS19
0        0.0     1.0
1        1.0     0.0
2        0.0     0.0
3        1.0     0.0
4        0.0     0.0
...      ...     ...
6499     0.0     0.0
6500     0.0     0.0
6501     2.0     2.0
6502     1.0     1.0
6503     2.0     0.0

[6504 rows x 11 columns]

In [22]:
df_change[["H1PF7", "H1PF13", "H1PF21", "H1PF30", "H1PF32", "H1PF33", "H1PF34", "H1PF35", "H1PF36"]] = df_change[["H1PF7", "H1PF13", "H1PF21", "H1PF30", "H1PF32", "H1PF33", "H1PF34", "H1PF35", "H1PF36"]].replace({6:3, 8:3, 9:1})

In [23]:
print(df_change[["H1PF7", "H1PF13", "H1PF21", "H1PF30", "H1PF32", "H1PF33", "H1PF34", "H1PF35", "H1PF36"]])

      H1PF7  H1PF13  H1PF21  H1PF30  H1PF32  H1PF33  H1PF34  H1PF35  H1PF36
0       4.0     3.0     4.0     1.0     1.0     1.0     1.0     1.0     1.0
1       4.0     2.0     3.0     2.0     2.0     2.0     3.0     2.0     2.0
2       4.0     5.0     5.0     1.0     1.0     1.0     2.0     1.0     1.0
3       5.0     4.0     1.0     1.0     1.0     2.0     2.0     1.0     1.0
4       3.0     4.0     2.0     2.0     2.0     1.0     1.0     1.0     1.0
...     ...     ...     ...     ...     ...     ...     ...     ...     ...
6499    4.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
6500    3.0     4.0     2.0     3.0     2.0     2.0     2.0     2.0     2.0
6501    1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
6502    5.0     3.0     4.0     2.0     3.0     4.0     3.0     3.0     2.0
6503    5.0     4.0     2.0     1.0     1.0     1.0     3.0     3.0     1.0

[6504 rows x 9 columns]

In [24]:
df_change[["H1CO10", "H1JO1", "H1JO3", "H1JO5", "H1JO7", "H1JO9", "H1JO10", "H1JO11", "H1JO12", "H1JO14", "H1JO17", "H1JO19", "H1JO20", "H1JO21", "H1JO23", "H1JO25", "H1JO26"]] = df_change[["H1CO10", "H1JO1", "H1JO3", "H1JO5", "H1JO7", "H1JO9", "H1JO10", "H1JO11", "H1JO12", "H1JO14", "H1JO17", "H1JO19", "H1JO20", "H1JO21", "H1JO23", "H1JO25", "H1JO26"]].replace({6:0.5, 7:0, 8:0.5, 9:0})

In [25]:
print(df_change[["H1CO10", "H1JO1", "H1JO3", "H1JO5", "H1JO7", "H1JO9", "H1JO10", "H1JO11", "H1JO12", "H1JO14", "H1JO17", "H1JO19", "H1JO20", "H1JO21", "H1JO23", "H1JO25", "H1JO26"]])

      H1CO10  H1JO1  H1JO3  H1JO5  H1JO7  H1JO9  H1JO10  H1JO11  H1JO12  \
0        0.0    0.0    1.0    0.0    0.0    0.0     1.0     1.0     1.0
1        0.0    0.0    0.0    0.0    0.0    0.0     0.0     1.0     0.0
2        0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
3        0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
4        0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
...      ...    ...    ...    ...    ...    ...     ...     ...     ...
6499     0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
6500     0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
6501     0.0    0.0    0.0    0.0    0.0    0.0     0.0     1.0     0.0
6502     0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
6503     0.0    0.0    0.0    0.0    0.0    0.0     1.0     1.0     0.0

      H1JO14  H1JO17  H1JO19  H1JO20  H1JO21  H1JO23  H1JO25  H1JO26
0        0.0     1.0     0.0     1.0     1.0     0.0     1.0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3        0.0     0.0     1.0     1.0     0.0     1.0     0.0     0.0
4        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...      ...     ...     ...     ...     ...     ...     ...     ...
6499     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
6500     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
6501     0.0     0.0     0.0     0.0     0.0     0.0     0.0     1.0
6502     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
6503     1.0     1.0     0.0     1.0     1.0     1.0     0.0     1.0

[6504 rows x 17 columns]

In [26]:
df_change[["H1NR3", "H1SU1"]] = df_change[["H1NR3", "H1SU1"]].replace({6:0.5, 8:0.5, 9:0})

In [27]:
df_change[["H1DS1", "H1DS2", "H1DS3", "H1DS4", "H1DS5", "H1DS6", "H1DS7", "H1DS8", "H1DS9", "H1DS10", "H1DS11", "H1DS12", "H1DS13", "H1DS14", "H1DS15"]] = df_change[["H1DS1", "H1DS2", "H1DS3", "H1DS4", "H1DS5", "H1DS6", "H1DS7", "H1DS8", "H1DS9", "H1DS10", "H1DS11", "H1DS12", "H1DS13", "H1DS14", "H1DS15"]].replace({6:1.5, 8:1.5, 9:0})

In [28]:
df_change[["H1FV5", "H1FV7", "H1FV8"]] = df_change[["H1FV5", "H1FV7", "H1FV8"]].replace({6:1, 8:1, 9:0})

In [29]:
df_change[["H1SU2"]] = df_change[["H1SU2"]].replace({6:2, 8:2, 7:0})

In [30]:
print(df_change[["H1SU2"]])

      H1SU2
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
6499    0.0
6500    0.0
6501    1.0
6502    0.0
6503    0.0

[6504 rows x 1 columns]

In [31]:
df_change[["H1FV9"]] = df_change[["H1FV9"]].replace({6:2, 8:2, 9:0})

In [32]:
df_change.drop('H1TO17', axis=1, inplace=True)

In [33]:
df_change.drop('H1TO18', axis=1, inplace=True)

In [34]:
df_change.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO21,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2
0,1.0,5.0,1.0,2.0,1.0,1.0,5.0,4.0,1.0,1.0,...,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,5.0,1.0,1.0,1.0,5.0,5.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6.0,6.0,1.0,5.0,5.0,1.0,5.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,2.0,1.0,97.0,97.0,97.0,5.0,7.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,4.0,4.0,4.0,97.0,97.0,97.0,5.0,7.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
df_change[["H1TO1", "H1TO12"]] = df_change[["H1TO1", "H1TO12"]].replace({6:0.5, 8:0.5, 9:0})

In [36]:
print(df_change[["H1TO1", "H1TO12"]])

      H1TO1  H1TO12
0       1.0     1.0
1       1.0     1.0
2       1.0     0.0
3       1.0     0.0
4       1.0     1.0
...     ...     ...
6499    0.0     0.0
6500    0.0     0.0
6501    1.0     1.0
6502    1.0     0.0
6503    1.0     1.0

[6504 rows x 2 columns]

In [37]:
df_change[["H1TO3"]] = df_change[["H1TO3"]].replace({6:0.5, 7:0})

In [38]:
print(df_change[["H1TO3"]])

      H1TO3
0       0.0
1       1.0
2       0.0
3       1.0
4       0.0
...     ...
6499    0.0
6500    0.0
6501    1.0
6502    0.0
6503    0.0

[6504 rows x 1 columns]

In [39]:
df_change[["H1TO13"]] = df_change[["H1TO13"]].replace({7:0, 8:0.5})

In [40]:
print(df_change[["H1TO13"]])

      H1TO13
0        1.0
1        1.0
2        0.0
3        0.0
4        0.0
...      ...
6499     0.0
6500     0.0
6501     1.0
6502     0.0
6503     1.0

[6504 rows x 1 columns]

In [41]:
df_change[["H1TO20", "H1TO27", "H1TO28"]] = df_change[["H1TO20", "H1TO27", "H1TO28"]].replace({6:2, 7:0, 8:2})

In [42]:
print(df_change[["H1TO20", "H1TO27", "H1TO28"]])

      H1TO20  H1TO27  H1TO28
0        2.0     2.0     0.0
1        0.0     0.0     0.0
2        0.0     0.0     0.0
3        0.0     0.0     0.0
4        0.0     0.0     0.0
...      ...     ...     ...
6499     0.0     0.0     0.0
6500     0.0     0.0     0.0
6501     1.0     3.0     0.0
6502     0.0     0.0     0.0
6503     0.0     0.0     0.0

[6504 rows x 3 columns]

In [43]:
df_change[["H1TO21"]] = df_change[["H1TO21"]].replace({6:2.5, 7:0, 9:0})

In [44]:
print(df_change[["H1TO21"]])

      H1TO21
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
6499     0.0
6500     0.0
6501     2.0
6502     0.0
6503     0.0

[6504 rows x 1 columns]

In [45]:
df_change[["H1TO23", "H1TO24"]] = df_change[["H1TO23", "H1TO24"]].replace({6:2, 7:0, 8:2})

In [46]:
print(df_change[["H1TO23", "H1TO24"]])

      H1TO23  H1TO24
0        0.0     1.0
1        0.0     1.0
2        0.0     0.0
3        0.0     0.0
4        0.0     0.0
...      ...     ...
6499     0.0     0.0
6500     0.0     0.0
6501     0.0     0.0
6502     0.0     0.0
6503     1.0     0.0

[6504 rows x 2 columns]

In [47]:
df_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6504 entries, 0 to 6503
Columns: 119 entries, H1RM11 to H1SU2
dtypes: float64(119)
memory usage: 5.9 MB

In [48]:
df_change.to_csv('cleaned_mb.csv', index=False)

In [49]:
normalized_mb=(df_change-df_change.min())/(df_change.max()-df_change.min())

In [50]:
normalized_mb.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO21,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2
0,0.000000,0.040816,0.000000,0.010204,0.000000,0.000000,0.571429,0.428571,0.111111,0.111111,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.040816,0.000000,0.000000,0.000000,0.571429,0.571429,0.111111,0.111111,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.051020,0.051020,0.000000,0.040816,0.040816,0.000000,0.571429,0.571429,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.010204,0.000000,0.979592,0.979592,0.979592,0.571429,0.857143,0.111111,0.111111,...,0.0,1.0,0.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0
4,0.030612,0.030612,0.030612,0.979592,0.979592,0.979592,0.571429,0.857143,0.111111,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [51]:
df_change.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO21,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2
0,1.0,5.0,1.0,2.0,1.0,1.0,5.0,4.0,1.0,1.0,...,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,5.0,1.0,1.0,1.0,5.0,5.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6.0,6.0,1.0,5.0,5.0,1.0,5.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,2.0,1.0,97.0,97.0,97.0,5.0,7.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,4.0,4.0,4.0,97.0,97.0,97.0,5.0,7.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Adding the scoring in line with PID-5 for defining yes/no of mb presence

In [53]:
df_change['row_sum'] = df_change.sum(axis=1)

In [54]:
df_change.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2,row_sum
0,1.0,5.0,1.0,2.0,1.0,1.0,5.0,4.0,1.0,1.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,215.0
1,1.0,1.0,5.0,1.0,1.0,1.0,5.0,5.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201.0
2,6.0,6.0,1.0,5.0,5.0,1.0,5.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177.0
3,1.0,2.0,1.0,97.0,97.0,97.0,5.0,7.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,494.0
4,4.0,4.0,4.0,97.0,97.0,97.0,5.0,7.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,471.0

In [55]:
normalized_mb['row_sum'] = normalized_mb.sum(axis=1)

In [56]:
normalized_mb.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2,row_sum
0,0.000000,0.040816,0.000000,0.010204,0.000000,0.000000,0.571429,0.428571,0.111111,0.111111,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,33.061902
1,0.000000,0.000000,0.040816,0.000000,0.000000,0.000000,0.571429,0.571429,0.111111,0.111111,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.140604
2,0.051020,0.051020,0.000000,0.040816,0.040816,0.000000,0.571429,0.571429,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.886239
3,0.000000,0.010204,0.000000,0.979592,0.979592,0.979592,0.571429,0.857143,0.111111,0.111111,...,1.0,0.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0,33.811457
4,0.030612,0.030612,0.030612,0.979592,0.979592,0.979592,0.571429,0.857143,0.111111,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,25.958210

In [57]:
normalized_mb['MB'] = normalized_mb.sum(axis=1) > 81*0.5

In [58]:
normalized_mb.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2,row_sum,MB
0,0.000000,0.040816,0.000000,0.010204,0.000000,0.000000,0.571429,0.428571,0.111111,0.111111,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,33.061902,True
1,0.000000,0.000000,0.040816,0.000000,0.000000,0.000000,0.571429,0.571429,0.111111,0.111111,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.140604,True
2,0.051020,0.051020,0.000000,0.040816,0.040816,0.000000,0.571429,0.571429,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.886239,False
3,0.000000,0.010204,0.000000,0.979592,0.979592,0.979592,0.571429,0.857143,0.111111,0.111111,...,0.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0,33.811457,True
4,0.030612,0.030612,0.030612,0.979592,0.979592,0.979592,0.571429,0.857143,0.111111,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,25.958210,True

In [59]:
normalized_mb = normalized_mb.astype(float)

In [60]:
print(normalized_mb['MB'].value_counts()[1])

4754

In [61]:
normalized_mb.drop("row_sum", axis=1, inplace=True)

In [62]:
normalized_mb.head()

,H1RM11,H1RM12,H1RM13,H1RF11,H1RF12,H1RF13,H1WP9,H1WP13,H1RR1,H1SU4,...,H1JO23,H1JO25,H1JO26,H1FV5,H1FV7,H1FV8,H1FV9,H1SU1,H1SU2,MB
0,0.000000,0.040816,0.000000,0.010204,0.000000,0.000000,0.571429,0.428571,0.111111,0.111111,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.000000,0.000000,0.040816,0.000000,0.000000,0.000000,0.571429,0.571429,0.111111,0.111111,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.051020,0.051020,0.000000,0.040816,0.040816,0.000000,0.571429,0.571429,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.010204,0.000000,0.979592,0.979592,0.979592,0.571429,0.857143,0.111111,0.111111,...,1.0,0.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0,1.0
4,0.030612,0.030612,0.030612,0.979592,0.979592,0.979592,0.571429,0.857143,0.111111,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [63]:
normalized_mb.to_csv("social.csv", index=False)