In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/calinaryan/Downloads/NN_MB/CDC/CDC2023.csv", low_memory=False)

In [3]:
with pd.option_context('display.max_rows', 5, 'display.max_columns', None): 
    display(df)

,site,raceeth,q6orig,q7orig,record,orig_rec,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12,q13,q14,q15,q16,q17,q18,q19,q20,q21,q22,q23,q24,q25,q26,q27,q28,q29,q30,q31,q32,q33,q34,q35,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45,q46,q47,q48,q49,q50,q51,q52,q53,q54,q55,q56,q57,q58,q59,q60,q61,q62,q63,q64,q65,q66,q67,q68,q69,q70,q71,q72,q73,q74,q75,q76,q77,q78,q79,q80,q81,q82,q83,q84,q85,q86,q87,q88,q89,q90,q91,q92,q93,q94,q95,q96,q97,q98,q99,q100,q101,q102,q103,q104,q105,q106,q107,BMIPCT,weight,stratum,psu
0,XX,NaN,505,180,1,NaN,3.0,1.0,1.0,NaN,C,1.65,81.65,4.0,4.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,NaN,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,3.0,1.0,1.0,1.0,1.0,2.0,4.0,1.0,2.0,2.0,1.0,6.0,2.0,2.0,1.0,1.0,3.0,1.0,NaN,2.0,NaN,1.0,1.0,2.0,1.0,1.0,3.0,3.0,1.0,3.0,1.0,2.0,1.0,2.0,3.0,3.0,2.0,2.0,2.0,97.083855,0.8614,103,16294
1,XX,5.0,N N,233,2,NaN,4.0,2.0,1.0,2.0,E,NaN,NaN,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,5.0,5.0,6.0,2.0,1.0,4.0,2.0,2.0,2.0,3.0,5.0,1.0,4.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,3.0,7.0,8.0,2.0,5.0,2.0,2.0,2.0,2.0,5.0,2.0,1.0,2.0,NaN,0.8920,103,16294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20101,XX,5.0,508,135,20385,NaN,5.0,2.0,1.0,2.0,E,1.73,61.24,5.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,NaN,1.0,2.0,NaN,1.0,1.0,2.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,8.0,NaN,NaN,1.0,NaN,3.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.945012,0.9628,201,788430
20102,XX,5.0,501,150,20386,NaN,4.0,1.0,1.0,2.0,E,1.55,68.04,4.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,NaN,2.0,1.0,1.0,NaN,2.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0,5.0,1.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,5.0,6.0,NaN,NaN,NaN,6.0,NaN,NaN,1.0,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.790649,1.1320,201,788430

In [4]:
df_mb = df[["q66", "q67", "q68", "q69", "q70", "q71", "q72", "q73", "q76", "q78", "q83", "q96", "q97", "q106", "q8", "q9", "q10", "q11", "q12", "q17",	"q19", "q26", "q27", "q28",	"q29", "q30", "q31", "q35", "q38", "q39", "q46", "q49", "q50", "q51", "q52", "q53", "q54", "q55",	"q58", "q59", "q60", "q61",	"q74", "q75", "q79", "q80", "q81", "q82", "q84", "q85", "q87", "q92"	]]

In [5]:
df_mb = df_mb.dropna(thresh=len(df_mb.columns) // 2 + 1)

In [6]:
df_mb.isnull().sum()

q66     7292
q67     5179
q68     2604
q69      287
q70     3788
q71     3858
q72     3822
q73     3889
q76      422
q78     6223
q83     1650
q96     5558
q97     7866
q106    8104
q8      4763
q9       445
q10      950
q11     1972
q12      450
q17     2133
q19     2664
q26      148
q27      332
q28     1503
q29      562
q30     5072
q31     2474
q35      163
q38      609
q39      589
q46     2797
q49      301
q50     2817
q51     5398
q52      457
q53      793
q54     3153
q55     4135
q58     1929
q59      859
q60     3091
q61      887
q74     3932
q75     4883
q79     3978
q80     3970
q81     3639
q82     6696
q84     3893
q85     1835
q87     3125
q92     6750
dtype: int64

In [7]:
df_mb[["q19", "q26", "q27", "q28", "q31", "q35"]] = df_mb[["q19", "q26", "q27", "q28", "q31", "q35"]].replace({1:2, 2:1})

In [8]:
df_mb.head()

,q66,q67,q68,q69,q70,q71,q72,q73,q76,q78,...,q74,q75,q79,q80,q81,q82,q84,q85,q87,q92
0,2.0,1.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,...,2.0,4.0,1.0,6.0,2.0,2.0,1.0,3.0,NaN,2.0
1,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,2.0,...,2.0,5.0,1.0,4.0,2.0,2.0,3.0,5.0,4.0,1.0
2,4.0,1.0,3.0,2.0,1.0,2.0,1.0,2.0,8.0,1.0,...,4.0,8.0,1.0,8.0,2.0,2.0,2.0,1.0,3.0,1.0
3,3.0,2.0,6.0,6.0,1.0,1.0,1.0,1.0,3.0,2.0,...,5.0,1.0,1.0,8.0,2.0,2.0,3.0,4.0,3.0,1.0
4,3.0,3.0,3.0,3.0,4.0,2.0,1.0,2.0,8.0,1.0,...,3.0,3.0,2.0,6.0,2.0,2.0,3.0,3.0,4.0,1.0

In [9]:
df_mb[["q30", "q60"]] = df_mb[["q30", "q60"]].replace({2:3, 3:2})

In [10]:
df_mb[["q81", "q82"]] = df_mb[["q81", "q82"]].replace({1:3, 3:2, 2:1})

In [11]:
df_mb.head()

,q66,q67,q68,q69,q70,q71,q72,q73,q76,q78,...,q74,q75,q79,q80,q81,q82,q84,q85,q87,q92
0,2.0,1.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,...,2.0,4.0,1.0,6.0,1.0,1.0,1.0,3.0,NaN,2.0
1,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,2.0,...,2.0,5.0,1.0,4.0,1.0,1.0,3.0,5.0,4.0,1.0
2,4.0,1.0,3.0,2.0,1.0,2.0,1.0,2.0,8.0,1.0,...,4.0,8.0,1.0,8.0,1.0,1.0,2.0,1.0,3.0,1.0
3,3.0,2.0,6.0,6.0,1.0,1.0,1.0,1.0,3.0,2.0,...,5.0,1.0,1.0,8.0,1.0,1.0,3.0,4.0,3.0,1.0
4,3.0,3.0,3.0,3.0,4.0,2.0,1.0,2.0,8.0,1.0,...,3.0,3.0,2.0,6.0,1.0,1.0,3.0,3.0,4.0,1.0

In [12]:
df_mb[["q85"]] = df_mb[["q85"]].replace({1:7, 2:6, 3:5, 5:3, 6:2, 7:1})

In [13]:
df_mb[["q75"]] = df_mb[["q75"]].replace({1:8, 2:7, 3:6, 4:5, 5:4, 6:3, 7:2, 8:1})

In [14]:
df_mb = df_mb.fillna(df_mb.mean())

In [15]:
df_mb.head()

,q66,q67,q68,q69,q70,q71,q72,q73,q76,q78,...,q74,q75,q79,q80,q81,q82,q84,q85,q87,q92
0,2.0,1.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,...,2.0,5.0,1.0,6.0,1.0,1.0,1.0,5.0,2.204824,2.0
1,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,2.0,...,2.0,4.0,1.0,4.0,1.0,1.0,3.0,3.0,4.000000,1.0
2,4.0,1.0,3.0,2.0,1.0,2.0,1.0,2.0,8.0,1.0,...,4.0,1.0,1.0,8.0,1.0,1.0,2.0,7.0,3.000000,1.0
3,3.0,2.0,6.0,6.0,1.0,1.0,1.0,1.0,3.0,2.0,...,5.0,8.0,1.0,8.0,1.0,1.0,3.0,4.0,3.000000,1.0
4,3.0,3.0,3.0,3.0,4.0,2.0,1.0,2.0,8.0,1.0,...,3.0,6.0,2.0,6.0,1.0,1.0,3.0,5.0,4.000000,1.0

In [16]:
df_mb.isnull().sum()

q66     0
q67     0
q68     0
q69     0
q70     0
q71     0
q72     0
q73     0
q76     0
q78     0
q83     0
q96     0
q97     0
q106    0
q8      0
q9      0
q10     0
q11     0
q12     0
q17     0
q19     0
q26     0
q27     0
q28     0
q29     0
q30     0
q31     0
q35     0
q38     0
q39     0
q46     0
q49     0
q50     0
q51     0
q52     0
q53     0
q54     0
q55     0
q58     0
q59     0
q60     0
q61     0
q74     0
q75     0
q79     0
q80     0
q81     0
q82     0
q84     0
q85     0
q87     0
q92     0
dtype: int64

In [17]:
normalized_mb=(df_mb-df_mb.min())/(df_mb.max()-df_mb.min())

In [18]:
normalized_mb['row_sum'] = normalized_mb.sum(axis=1)

In [19]:
normalized_mb.head()

,q66,q67,q68,q69,q70,q71,q72,q73,q76,q78,...,q75,q79,q80,q81,q82,q84,q85,q87,q92,row_sum
0,0.25,0.000000,0.166667,0.333333,0.0,0.000000,0.0,0.000000,0.000000,0.333333,...,0.571429,0.00,0.714286,0.0,0.0,0.00,0.666667,0.200804,0.2,7.645898
1,0.75,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.571429,0.333333,...,0.428571,0.00,0.428571,0.0,0.0,0.50,0.333333,0.500000,0.0,7.404762
2,0.75,0.000000,0.333333,0.166667,0.0,0.166667,0.0,0.166667,1.000000,0.000000,...,0.000000,0.00,1.000000,0.0,0.0,0.25,1.000000,0.333333,0.0,14.471429
3,0.50,0.333333,0.833333,0.833333,0.0,0.000000,0.0,0.000000,0.285714,0.333333,...,1.000000,0.00,1.000000,0.0,0.0,0.50,0.500000,0.333333,0.0,15.721429
4,0.50,0.666667,0.333333,0.333333,0.5,0.166667,0.0,0.166667,1.000000,0.000000,...,0.714286,0.25,0.714286,0.0,0.0,0.50,0.666667,0.500000,0.0,16.964286

In [20]:
normalized_mb['MB'] = normalized_mb.sum(axis=1) > 38*0.5

In [21]:
normalized_mb.head()

,q66,q67,q68,q69,q70,q71,q72,q73,q76,q78,...,q79,q80,q81,q82,q84,q85,q87,q92,row_sum,MB
0,0.25,0.000000,0.166667,0.333333,0.0,0.000000,0.0,0.000000,0.000000,0.333333,...,0.00,0.714286,0.0,0.0,0.00,0.666667,0.200804,0.2,7.645898,False
1,0.75,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.571429,0.333333,...,0.00,0.428571,0.0,0.0,0.50,0.333333,0.500000,0.0,7.404762,False
2,0.75,0.000000,0.333333,0.166667,0.0,0.166667,0.0,0.166667,1.000000,0.000000,...,0.00,1.000000,0.0,0.0,0.25,1.000000,0.333333,0.0,14.471429,True
3,0.50,0.333333,0.833333,0.833333,0.0,0.000000,0.0,0.000000,0.285714,0.333333,...,0.00,1.000000,0.0,0.0,0.50,0.500000,0.333333,0.0,15.721429,True
4,0.50,0.666667,0.333333,0.333333,0.5,0.166667,0.0,0.166667,1.000000,0.000000,...,0.25,0.714286,0.0,0.0,0.50,0.666667,0.500000,0.0,16.964286,True

In [22]:
health = normalized_mb.astype(float)

In [23]:
health.info

<bound method DataFrame.info of             q66       q67       q68       q69       q70       q71       q72  \
0      0.250000  0.000000  0.166667  0.333333  0.000000  0.000000  0.000000
1      0.750000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2      0.750000  0.000000  0.333333  0.166667  0.000000  0.166667  0.000000
3      0.500000  0.333333  0.833333  0.833333  0.000000  0.000000  0.000000
4      0.500000  0.666667  0.333333  0.333333  0.500000  0.166667  0.000000
...         ...       ...       ...       ...       ...       ...       ...
20098  0.539816  0.350472  0.204557  0.333333  0.151931  0.161323  0.114731
20099  0.539816  0.350472  0.204557  0.166667  0.151931  0.161323  0.114731
20100  0.539816  0.350472  0.204557  0.500000  0.151931  0.161323  0.114731
20101  0.539816  0.350472  0.204557  0.166667  0.151931  0.161323  0.114731
20102  0.539816  0.350472  0.204557  0.500000  0.151931  0.161323  0.114731

            q73       q76       q78  ...       q79       q80       q81  \
0      0.000000  0.000000  0.333333  ...  0.000000  0.714286  0.000000
1      0.000000  0.571429  0.333333  ...  0.000000  0.428571  0.000000
2      0.166667  1.000000  0.000000  ...  0.000000  1.000000  0.000000
3      0.000000  0.285714  0.333333  ...  0.000000  1.000000  0.000000
4      0.166667  1.000000  0.000000  ...  0.250000  0.714286  0.000000
...         ...       ...       ...  ...       ...       ...       ...
20098  0.268391  0.142857  0.307208  ...  0.065005  0.000000  0.144382
20099  0.268391  0.714286  0.307208  ...  0.065005  1.000000  0.144382
20100  0.268391  0.571429  0.307208  ...  0.065005  0.000000  0.144382
20101  0.268391  0.571429  0.307208  ...  0.065005  1.000000  0.144382
20102  0.268391  0.714286  0.307208  ...  0.065005  0.714286  0.144382

            q82       q84       q85       q87       q92    row_sum   MB
0      0.000000  0.000000  0.666667  0.200804  0.200000   7.645898  0.0
1      0.000000  0.500000  0.333333  0.500000  0.000000   7.404762  0.0
2      0.000000  0.250000  1.000000  0.333333  0.000000  14.471429  1.0
3      0.000000  0.500000  0.500000  0.333333  0.000000  15.721429  1.0
4      0.000000  0.500000  0.666667  0.500000  0.000000  16.964286  1.0
...         ...       ...       ...       ...       ...        ...  ...
20098  0.086964  0.457467  0.666667  0.200804  0.020625  11.047274  1.0
20099  0.086964  0.457467  0.166667  0.333333  0.020625   9.279804  0.0
20100  0.086964  0.457467  0.333333  0.000000  0.020625   7.860756  0.0
20101  0.086964  0.457467  0.666667  0.500000  0.020625  10.724821  1.0
20102  0.086964  0.457467  1.000000  0.333333  0.020625  10.824442  1.0

[19046 rows x 54 columns]>

In [24]:
health.drop("row_sum", axis=1, inplace=True)

In [25]:
health.head()

,q66,q67,q68,q69,q70,q71,q72,q73,q76,q78,...,q75,q79,q80,q81,q82,q84,q85,q87,q92,MB
0,0.25,0.000000,0.166667,0.333333,0.0,0.000000,0.0,0.000000,0.000000,0.333333,...,0.571429,0.00,0.714286,0.0,0.0,0.00,0.666667,0.200804,0.2,0.0
1,0.75,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.571429,0.333333,...,0.428571,0.00,0.428571,0.0,0.0,0.50,0.333333,0.500000,0.0,0.0
2,0.75,0.000000,0.333333,0.166667,0.0,0.166667,0.0,0.166667,1.000000,0.000000,...,0.000000,0.00,1.000000,0.0,0.0,0.25,1.000000,0.333333,0.0,1.0
3,0.50,0.333333,0.833333,0.833333,0.0,0.000000,0.0,0.000000,0.285714,0.333333,...,1.000000,0.00,1.000000,0.0,0.0,0.50,0.500000,0.333333,0.0,1.0
4,0.50,0.666667,0.333333,0.333333,0.5,0.166667,0.0,0.166667,1.000000,0.000000,...,0.714286,0.25,0.714286,0.0,0.0,0.50,0.666667,0.500000,0.0,1.0

In [26]:
health.to_csv("health.csv", index=False)