In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/calinaryan/Downloads/NN_MB/CDC/CDC2023.csv", low_memory=False)

In [3]:
df = df.drop(columns=df.columns[df.isnull().mean() > 1* 0.4])

In [4]:
with pd.option_context('display.max_rows', 5, 'display.max_columns', None): 
    display(df)

,site,raceeth,q6orig,q7orig,record,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12,q14,q15,q17,q18,q19,q20,q21,q22,q23,q24,q25,q26,q27,q28,q29,q30,q31,q32,q33,q34,q35,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45,q46,q47,q48,q49,q50,q51,q52,q53,q54,q55,q56,q57,q58,q59,q60,q61,q62,q63,q64,q65,q67,q68,q69,q70,q71,q72,q73,q74,q75,q76,q77,q78,q79,q80,q81,q82,q83,q84,q85,q86,q87,q88,q89,q90,q91,q92,q96,q99,q100,q101,q102,BMIPCT,weight,stratum,psu
0,XX,NaN,505,180,1,3.0,1.0,1.0,NaN,C,1.65,81.65,4.0,4.0,1.0,1.0,1.0,3.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,NaN,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,3.0,1.0,1.0,1.0,1.0,2.0,4.0,1.0,2.0,2.0,1.0,6.0,2.0,2.0,1.0,1.0,3.0,1.0,NaN,2.0,NaN,1.0,1.0,2.0,3.0,1.0,2.0,1.0,2.0,97.083855,0.8614,103,16294
1,XX,5.0,N N,233,2,4.0,2.0,1.0,2.0,E,NaN,NaN,5.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,5.0,5.0,6.0,2.0,1.0,4.0,2.0,2.0,2.0,3.0,5.0,1.0,4.0,2.0,2.0,2.0,2.0,1.0,7.0,5.0,2.0,2.0,2.0,NaN,0.8920,103,16294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20101,XX,5.0,508,135,20385,5.0,2.0,1.0,2.0,E,1.73,61.24,5.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,NaN,1.0,2.0,NaN,1.0,1.0,2.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,8.0,NaN,NaN,1.0,NaN,3.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,3.0,5.0,NaN,NaN,NaN,43.945012,0.9628,201,788430
20102,XX,5.0,501,150,20386,4.0,1.0,1.0,2.0,E,1.55,68.04,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,NaN,2.0,1.0,1.0,NaN,2.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0,5.0,1.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,5.0,6.0,NaN,NaN,NaN,6.0,NaN,NaN,1.0,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,94.790649,1.1320,201,788430

In [5]:
df_mb = df[["raceeth", "q1", "q2", "q3", "q4", "q6", "q7", "q64", "q65", "q8", "q9", "q10", "q11", "q12", "q17",	"q19", "q26", "q27", "q28",	"q29", "q30", "q31", "q35", "q38", "q39", "q46", "q49", "q50", "q51", "q52", "q53", "q54", "q55",	"q58", "q59", "q60", "q61",	"q74", "q75", "q79", "q80", "q81", "q82", "q84", "q85", "q87", "q92"	]]

In [6]:
df_mb = df_mb.dropna(thresh=len(df_mb.columns) // 2 + 1)

In [7]:
df_mb.isnull().sum()

raceeth     335
q1           89
q2          140
q3          168
q4          222
q6         2178
q7         2178
q64        1777
q65        1583
q8         4942
q9          484
q10        1071
q11        2171
q12         489
q17        2563
q19        2683
q26         185
q27         359
q28        1645
q29         670
q30        5317
q31        2524
q35         205
q38        1042
q39        1023
q46        3291
q49         361
q50        2986
q51        5606
q52         527
q53         872
q54        3355
q55        4747
q58        2182
q59        1490
q60        3380
q61        1516
q74        4708
q75        5556
q79        4354
q80        4673
q81        4314
q82        7056
q84        4180
q85        2449
q87        3307
q92        7443
dtype: int64

In [8]:
df_mb[["q19", "q26", "q27", "q28", "q31", "q35"]] = df_mb[["q19", "q26", "q27", "q28", "q31", "q35"]].replace({1:2, 2:1})

In [9]:
df_mb.head()

,raceeth,q1,q2,q3,q4,q6,q7,q64,q65,q8,...,q74,q75,q79,q80,q81,q82,q84,q85,q87,q92
0,NaN,3.0,1.0,1.0,NaN,1.65,81.65,2.0,1.0,4.0,...,2.0,4.0,1.0,6.0,2.0,2.0,1.0,3.0,NaN,2.0
1,5.0,4.0,2.0,1.0,2.0,NaN,NaN,1.0,1.0,5.0,...,2.0,5.0,1.0,4.0,2.0,2.0,3.0,5.0,4.0,1.0
2,5.0,5.0,2.0,3.0,2.0,1.68,74.84,3.0,1.0,5.0,...,4.0,8.0,1.0,8.0,2.0,2.0,2.0,1.0,3.0,1.0
3,5.0,6.0,1.0,2.0,2.0,NaN,NaN,1.0,1.0,4.0,...,5.0,1.0,1.0,8.0,2.0,2.0,3.0,4.0,3.0,1.0
4,5.0,3.0,2.0,1.0,2.0,1.85,56.70,1.0,1.0,5.0,...,3.0,3.0,2.0,6.0,2.0,2.0,3.0,3.0,4.0,1.0

In [10]:
df_mb[["q30", "q60"]] = df_mb[["q30", "q60"]].replace({2:3, 3:2})

In [11]:
df_mb[["q81", "q82"]] = df_mb[["q81", "q82"]].replace({1:3, 3:2, 2:1})

In [12]:
df_mb.head()

,raceeth,q1,q2,q3,q4,q6,q7,q64,q65,q8,...,q74,q75,q79,q80,q81,q82,q84,q85,q87,q92
0,NaN,3.0,1.0,1.0,NaN,1.65,81.65,2.0,1.0,4.0,...,2.0,4.0,1.0,6.0,1.0,1.0,1.0,3.0,NaN,2.0
1,5.0,4.0,2.0,1.0,2.0,NaN,NaN,1.0,1.0,5.0,...,2.0,5.0,1.0,4.0,1.0,1.0,3.0,5.0,4.0,1.0
2,5.0,5.0,2.0,3.0,2.0,1.68,74.84,3.0,1.0,5.0,...,4.0,8.0,1.0,8.0,1.0,1.0,2.0,1.0,3.0,1.0
3,5.0,6.0,1.0,2.0,2.0,NaN,NaN,1.0,1.0,4.0,...,5.0,1.0,1.0,8.0,1.0,1.0,3.0,4.0,3.0,1.0
4,5.0,3.0,2.0,1.0,2.0,1.85,56.70,1.0,1.0,5.0,...,3.0,3.0,2.0,6.0,1.0,1.0,3.0,3.0,4.0,1.0

In [13]:
df_mb[["q85"]] = df_mb[["q85"]].replace({1:7, 2:6, 3:5, 5:3, 6:2, 7:1})

In [14]:
df_mb[["q75"]] = df_mb[["q75"]].replace({1:8, 2:7, 3:6, 4:5, 5:4, 6:3, 7:2, 8:1})

In [15]:
df_mb = df_mb.fillna(df_mb.mean())

In [16]:
df_mb.head()

,raceeth,q1,q2,q3,q4,q6,q7,q64,q65,q8,...,q74,q75,q79,q80,q81,q82,q84,q85,q87,q92
0,5.013348,3.0,1.0,1.0,1.799704,1.650000,81.650000,2.0,1.0,4.0,...,2.0,5.0,1.0,6.0,1.0,1.0,1.0,5.0,2.205016,2.0
1,5.000000,4.0,2.0,1.0,2.000000,1.696334,68.669044,1.0,1.0,5.0,...,2.0,4.0,1.0,4.0,1.0,1.0,3.0,3.0,4.000000,1.0
2,5.000000,5.0,2.0,3.0,2.000000,1.680000,74.840000,3.0,1.0,5.0,...,4.0,1.0,1.0,8.0,1.0,1.0,2.0,7.0,3.000000,1.0
3,5.000000,6.0,1.0,2.0,2.000000,1.696334,68.669044,1.0,1.0,4.0,...,5.0,8.0,1.0,8.0,1.0,1.0,3.0,4.0,3.000000,1.0
4,5.000000,3.0,2.0,1.0,2.000000,1.850000,56.700000,1.0,1.0,5.0,...,3.0,6.0,2.0,6.0,1.0,1.0,3.0,5.0,4.000000,1.0

In [17]:
df_mb.isnull().sum()

raceeth    0
q1         0
q2         0
q3         0
q4         0
q6         0
q7         0
q64        0
q65        0
q8         0
q9         0
q10        0
q11        0
q12        0
q17        0
q19        0
q26        0
q27        0
q28        0
q29        0
q30        0
q31        0
q35        0
q38        0
q39        0
q46        0
q49        0
q50        0
q51        0
q52        0
q53        0
q54        0
q55        0
q58        0
q59        0
q60        0
q61        0
q74        0
q75        0
q79        0
q80        0
q81        0
q82        0
q84        0
q85        0
q87        0
q92        0
dtype: int64

In [18]:
normalized_mb=(df_mb-df_mb.min())/(df_mb.max()-df_mb.min())

In [19]:
normalized_mb['row_sum'] = normalized_mb.sum(axis=1)

In [20]:
normalized_mb.head()

,raceeth,q1,q2,q3,q4,q6,q7,q64,q65,q8,...,q75,q79,q80,q81,q82,q84,q85,q87,q92,row_sum
0,0.573335,0.333333,0.0,0.00,0.799704,0.464789,0.336362,0.2,0.0,0.75,...,0.571429,0.00,0.714286,0.0,0.0,0.00,0.666667,0.200836,0.2,7.937808
1,0.571429,0.500000,1.0,0.00,1.000000,0.530048,0.249643,0.0,0.0,1.00,...,0.428571,0.00,0.428571,0.0,0.0,0.50,0.333333,0.500000,0.0,7.351119
2,0.571429,0.666667,1.0,0.50,1.000000,0.507042,0.290868,0.4,0.0,1.00,...,0.000000,0.00,1.000000,0.0,0.0,0.25,1.000000,0.333333,0.0,14.990767
3,0.571429,0.833333,0.0,0.25,1.000000,0.530048,0.249643,0.0,0.0,0.75,...,1.000000,0.00,1.000000,0.0,0.0,0.50,0.500000,0.333333,0.0,15.036834
4,0.571429,0.333333,1.0,0.00,1.000000,0.746479,0.169684,0.0,0.0,1.00,...,0.714286,0.25,0.714286,0.0,0.0,0.50,0.666667,0.500000,0.0,14.285211

In [21]:
normalized_mb['MB'] = normalized_mb.sum(axis=1) > 38*0.5

In [22]:
normalized_mb.head()

,raceeth,q1,q2,q3,q4,q6,q7,q64,q65,q8,...,q79,q80,q81,q82,q84,q85,q87,q92,row_sum,MB
0,0.573335,0.333333,0.0,0.00,0.799704,0.464789,0.336362,0.2,0.0,0.75,...,0.00,0.714286,0.0,0.0,0.00,0.666667,0.200836,0.2,7.937808,False
1,0.571429,0.500000,1.0,0.00,1.000000,0.530048,0.249643,0.0,0.0,1.00,...,0.00,0.428571,0.0,0.0,0.50,0.333333,0.500000,0.0,7.351119,False
2,0.571429,0.666667,1.0,0.50,1.000000,0.507042,0.290868,0.4,0.0,1.00,...,0.00,1.000000,0.0,0.0,0.25,1.000000,0.333333,0.0,14.990767,True
3,0.571429,0.833333,0.0,0.25,1.000000,0.530048,0.249643,0.0,0.0,0.75,...,0.00,1.000000,0.0,0.0,0.50,0.500000,0.333333,0.0,15.036834,True
4,0.571429,0.333333,1.0,0.00,1.000000,0.746479,0.169684,0.0,0.0,1.00,...,0.25,0.714286,0.0,0.0,0.50,0.666667,0.500000,0.0,14.285211,True

In [23]:
demographic = normalized_mb.astype(float)

In [24]:
demographic.info

<bound method DataFrame.info of         raceeth        q1   q2    q3        q4        q6        q7       q64  \
0      0.573335  0.333333  0.0  0.00  0.799704  0.464789  0.336362  0.200000
1      0.571429  0.500000  1.0  0.00  1.000000  0.530048  0.249643  0.000000
2      0.571429  0.666667  1.0  0.50  1.000000  0.507042  0.290868  0.400000
3      0.571429  0.833333  0.0  0.25  1.000000  0.530048  0.249643  0.000000
4      0.571429  0.333333  1.0  0.00  1.000000  0.746479  0.169684  0.000000
...         ...       ...  ...   ...       ...       ...       ...       ...
20098  0.571429  0.333333  0.0  0.00  1.000000  0.323944  0.215111  0.200000
20099  0.571429  0.500000  1.0  0.00  1.000000  0.577465  0.360612  0.141473
20100  0.571429  0.500000  1.0  0.00  1.000000  0.676056  0.436368  0.000000
20101  0.571429  0.666667  1.0  0.00  1.000000  0.577465  0.200013  0.400000
20102  0.571429  0.500000  0.0  0.00  1.000000  0.323944  0.245441  0.800000

            q65    q8  ...       q79       q80      q81       q82       q84  \
0      0.000000  0.75  ...  0.000000  0.714286  0.00000  0.000000  0.000000
1      0.000000  1.00  ...  0.000000  0.428571  0.00000  0.000000  0.500000
2      0.000000  1.00  ...  0.000000  1.000000  0.00000  0.000000  0.250000
3      0.000000  0.75  ...  0.000000  1.000000  0.00000  0.000000  0.500000
4      0.000000  1.00  ...  0.250000  0.714286  0.00000  0.000000  0.500000
...         ...   ...  ...       ...       ...      ...       ...       ...
20098  0.000000  1.00  ...  0.065399  0.000000  0.14459  0.088422  0.457638
20099  0.041653  1.00  ...  0.065399  1.000000  0.14459  0.088422  0.457638
20100  0.000000  1.00  ...  0.065399  0.000000  0.14459  0.088422  0.457638
20101  0.041653  1.00  ...  0.065399  1.000000  0.14459  0.088422  0.457638
20102  0.000000  0.75  ...  0.065399  0.714286  0.14459  0.088422  0.457638

            q85       q87       q92    row_sum   MB
0      0.666667  0.200836  0.200000   7.937808  0.0
1      0.333333  0.500000  0.000000   7.351119  0.0
2      1.000000  0.333333  0.000000  14.990767  1.0
3      0.500000  0.333333  0.000000  15.036834  1.0
4      0.666667  0.500000  0.000000  14.285211  1.0
...         ...       ...       ...        ...  ...
20098  0.666667  0.200836  0.020631   9.031651  0.0
20099  0.166667  0.333333  0.020631   9.241534  0.0
20100  0.333333  0.000000  0.020631   7.123232  0.0
20101  0.666667  0.500000  0.020631  11.097232  1.0
20102  1.000000  0.333333  0.020631   9.035145  0.0

[19813 rows x 49 columns]>

In [25]:
demographic.drop("row_sum", axis=1, inplace=True)

In [26]:
demographic.head()

,raceeth,q1,q2,q3,q4,q6,q7,q64,q65,q8,...,q75,q79,q80,q81,q82,q84,q85,q87,q92,MB
0,0.573335,0.333333,0.0,0.00,0.799704,0.464789,0.336362,0.2,0.0,0.75,...,0.571429,0.00,0.714286,0.0,0.0,0.00,0.666667,0.200836,0.2,0.0
1,0.571429,0.500000,1.0,0.00,1.000000,0.530048,0.249643,0.0,0.0,1.00,...,0.428571,0.00,0.428571,0.0,0.0,0.50,0.333333,0.500000,0.0,0.0
2,0.571429,0.666667,1.0,0.50,1.000000,0.507042,0.290868,0.4,0.0,1.00,...,0.000000,0.00,1.000000,0.0,0.0,0.25,1.000000,0.333333,0.0,1.0
3,0.571429,0.833333,0.0,0.25,1.000000,0.530048,0.249643,0.0,0.0,0.75,...,1.000000,0.00,1.000000,0.0,0.0,0.50,0.500000,0.333333,0.0,1.0
4,0.571429,0.333333,1.0,0.00,1.000000,0.746479,0.169684,0.0,0.0,1.00,...,0.714286,0.25,0.714286,0.0,0.0,0.50,0.666667,0.500000,0.0,1.0

In [27]:
demographic.to_csv("demographic.csv", index=False)